@{
    

   
 var db = Database.Open("starterSite");

  

    var Userprofile="Select * FROM UserProfile WHERE STATE='Active' AND UserId= @0";
var User= db.QuerySingle(Userprofile , WebSecurity.CurrentUserId);

 var profile="Select * FROM PROPERTY WHERE STATE='Active' AND USERID= @0";
var data= db.Query(profile ,  WebSecurity.CurrentUserId);

var Rentprofile="Select * FROM PROPERTY WHERE STATE='Active' AND PURPOSE='Rent' AND USERID= @0";
var dataRent= db.Query(Rentprofile ,  WebSecurity.CurrentUserId);

var Saleprofile="Select * FROM PROPERTY WHERE STATE='Active' AND PURPOSE='Sale' AND USERID= @0";
var dataSale= db.Query(Saleprofile ,  WebSecurity.CurrentUserId);

var fprofile="Select * FROM PROPERTY WHERE STATE='Active'  AND MODE='Featured' AND USERID= @0";
var dataFeatured= db.Query(fprofile ,  WebSecurity.CurrentUserId); 


var rcount="SELECT COUNT(*) FROM PROPERTY WHERE PURPOSE='Rent' AND USERID= @0";
var rent= db.QueryValue(rcount ,  WebSecurity.CurrentUserId);
var scount="SELECT COUNT(*) FROM PROPERTY WHERE PURPOSE='sale' AND USERID= @0";
var sale= db.QueryValue(scount , WebSecurity.CurrentUserId);
var fcount="SELECT COUNT(*) FROM PROPERTY WHERE MODE='featured' AND USERID= @0";
var featured= db.QueryValue(fcount ,  WebSecurity.CurrentUserId);
var total=rent+sale;

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <script src="~/js/jquery.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <script src="~/js/displayLayout.js"></script>
        <style>
       #scrolly{
           
            height: 110px;
            overflow: auto;
            overflow-y: hidden;
            margin: 0 auto;
            white-space: nowrap;
            width: 100%;
            background-color: #808080;
            
        }
              #scrolly::-webkit-scrollbar {
display: none;
}
      #scrolly img{
            width: 100px;
            height: 100px;
            margin: 5px 1px 4px 4px;
            display: inline;
            border: 4px solid #fff;
        }
div.cover:hover{
opacity:.7;
}
.upload{
display:none;
}
div.cover:hover .upload{
display:block;

}
    ul.detail{
 margin-bottom:20px;
  margin-left:-25px;
  
  
  
}

        ul.detail li  { 
        display: inline-block;
      
         width: 31.33%;
            height: 140px;
              margin-left:4px;
                  margin-top:20px;  
                 
                  
              } 

           

  #scroller::-webkit-scrollbar {
display: none;
             
}               
                
                 
 
</style>
    </head>
    <body class="w3-light-gray">
          <div class="w3-top">@RenderPage("~/header.cshtml")</div>

  <div class="w3-row"  style="width: 100%; max-width: 1400px">
               
        <div class="w3-col m2 w3-float-left" style="margin-left: 3%; margin-top: 100px; ">
      <!-- Profile -->
     @RenderPage("~/FeaturedAds/AdsLayout.cshtml")

 </div>
      <div class="w3-col m8 w3-float-right" style="width: 72%; max-width: 1000px;  margin-left: 8%; min-width: 500px" >
     <div class=" w3-card-4 w3-white  w-border w3-border-blue " style=" margin-left: 8%; margin-right: 100px; margin-top:100px">

<div class="w3-row w3-bottombar w3-border-light-gray ">
  <div class="w3-half w3-padding w3-gree w3-borde w3-border-blue  w3-center" style="width:35%; margin-right: -10px"><img src="~/@User.Image" style="width:100%;min-height:125px; max-height:125px;height:10% " alt="Google Regional Map"></div>
  <div class="w3-half  " style=" width:65%; ">
   <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter" style="width:25%; max-width:200px; min-width:100px; min-height:100px">
    <a class="w3-hover-shadow w3-card-4 tablink" title="Click to see all properites" onclick="openCity(event, 'total')">
      <div class="w3-hover-teal w3-card-4 w3-red w3-center">
       
          <h3 class=" w3-bottombar w3-center w3-pad w3-border-light-grey w3-small" style="padding-top:8px; padding-bottom:8px;">Total Properties</h3>
  
        <div class="w3-clear w3-center w3-padding w3-small">
        <h4>@total</h4>
      </div>
    </div>
    </a>
    </div>
   <div class="w3-quarter" style="width:25%; max-width:200px; min-width:100px; min-height:100px">
   <a class="w3-hover-shadow w3-card-4 tablink" title="Click to see only Rent properites" onclick="openCity(event, 'rent')">
      <div class="w3-hover-teal w3-card-4 w3-blue w3-center">
       
          <h3 class=" w3-bottombar w3-border-light-grey w3-small" style="padding-top:8px; padding-bottom:8px;">For Rent</h3>
  
        <div class="w3-clear w3-center w3-padding">
        <h4>@rent</h4>
      </div>
    </div>
    </a>
    </div>
    <div class="w3-quarter" style="width:25%; max-width:200px; min-width:100px; min-height:100px">
    <a class="w3-hover-shadow w3-card-4 tablink" title="Click to see only Sell properites" onclick="openCity(event, 'sale')">
      <div class="w3-hover-teal w3-card-4 w3-green w3-center">
       
          <h3 class=" w3-bottombar w3-border-light-grey w3-small" style="padding-top:8px; padding-bottom:8px;">For Sale</h3>
  
        <div class="w3-clear w3-padding">
        <h4>@sale</h4>
      </div>
    </div>
    </a>
    </div>
    <div class="w3-quarter " style="width:25%; max-width:200px; min-width:100px; min-height:100px">
    <a class="  tablink" title="Click to see only Featured properites" onclick="openCity(event, 'featured')">
      <div class="w3-hover-teal w3-card-4 w3-purple w3-center">
       
          <h3 class=" w3-bottombar w3-border-light-grey w3-small" style="padding-top:8px; padding-bottom:8px;">Featured</h3>
  
        <div class="w3-clear w3-padding">
        <h4>@featured</h4>
      </div>
    </div>
    </a>
    </div>
    </div>
 </div>
 </div>
 
  <div class="w3-row w3-bottombar w3-border-light-grey" >

  <div class="w3-half   w3-padding">

  <label class="w3-small w3-text-blue"><strong>Company Details</strong></label>
      <a href="~/EditProfile.cshtml" class="w3-small w3-btn w3-right  w3-text-blue"><i class="fa fa-pencil w3-large"></i></a>
    
       <br/>
  <label class="w3-xlarge"><strong>@User.Company</strong> </label>
  <br/>
   <label class="w3-small">@User.Address</label>
   <br/>
    <div class="w3-row w3-small">
      <div class="w3-half w3-left ">   
         
      <h4 class="w3-text-gray w3-small"><strong>Founded</strong></h4>  
    
        <h4 class="w3-text-gray w3-small"><strong>Kaali.Pk.ID</strong></h4>  
       </div>
      <div class="w3-half w3-left w3-small">
       
     <h4 class="w3-text-gray w3-small"><strong>@User.Founded</strong></h4>  
        <h4 class="w3-text-gray w3-small"><strong>@User.Userid</strong></h4>  
      </div>
    </div>   
  </div>
 
 <div class="w3-half   w3-leftbar w3-border-light-gray" >
  <div class="w3-row w3-small">
      <div class="w3-half w3-center " style="width:40%; padding-left:20px; padding-right:20px">
      <h4 class="w3-text-blue  w3-left w3-small"><strong>ContentInfo</strong></h4>     
       <p ><button class="w3-button w3-small w3-block w3-blue"style="height:30px; margin-bottom: 8px;" >Owner Name</button> </p>
     <p ><button class="w3-button w3-small w3-block w3-orange" style="height:30px; margin-bottom: 8px;">ContactNo</button> </p>
        <p ><button class="w3-button w3-small w3-block w3-green" style="height:30px; margin-bottom: 8px;">Send Email</button> </p>
       </div>
      
      <div class="w3-half w3-left w3-small " style="width:60%">
           <a href="~/EditProfile.cshtml" class="w3-small w3-btn w3-right w3-margin-right  w3-text-blue"><i class="fa fa-pencil w3-large"></i></a>
    
          
       <h4 class="w3-text-white w3-small"><strong>Details</strong></h4>
        <p ><label class=" w3-small w3-block " style="height:30px;"><b>@User.Name</b></label> </p>
        <p class="w3-margin-top"><label class=" w3-small w3-block " style="height:30px;"><b>@User.Phone</b></label> </p>
        <p class="w3-margin-top"><label class=" w3-small w3-block " style="height:30px;"><b>@User.Email</b></label> </p>
      </div>
         
    </div> 
      </div>  
</div>
        <div class="w3-row-padding w3-bottombar w3-border-light-gray">
 <label class="w3-small w3-text-blue "><strong>About Company</strong></label><br/>
<div class="w3-col w3-small" style="width:100%" style="padding:0px">
<p style=" margin-top:0px">@User.Description</p>
</div>



        </div>
</div>

  
    <div id="total" class=" city w3-card-4  w-border w3-border-blue" style=" margin-left: 8%; margin-right: 100px; margin-top:10px">
      <div class="w3-container w3-center w3-blue-gray">
          <h3 class="w3-text-white"><strong>Total Properties</strong></h3>
          </div>
        
          @if(data.Any())
{
           foreach(var row in data)

          {


              <div class="w3-border w3-card-4" style="float: right; margin-bottom: 15px; padding-bottom: 10px; ">
        



   <div class="w3-bar  w3-teal w3-center w3-small w3-padding">
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Purpose <b><span class="w3-margin-left w3-medium" id="purpose"> @row.PURPOSE </span></b> </a>
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Property Type <b><span class="w3-margin-left w3-medium" id="type">@row.TYPE </span></b> </a>
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Location <b><span class="w3-margin-left w3-medium" id="city">@row.CITY</span></b> </a>
 
</div>
<div class="w3-row  w3-border-blue" style="width:100%;  margin-top:5px; margin-bottom: 0px; max-width: 1400px">
<div class=" w3-half" tyle="width:50%;">

 <div id="future"  class="thumbnails w3-small  w3-round  "style="overflow-y: scroll; overflow-x: hidden ; width:100%; height: 730px; max-width: 1400px">
    <ul class="detail" >
    
           <li >
     <img class="view w3-round-large" src="~/@row.IMG1" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    
     </li>
     <li>
 <div class="  w3-round-large w3-small " style="width:100%; height:140px " >
    <img class="view w3-round-large" src="~/@row.IMG2" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
     
       <li >
 <div class="  w3-round-large w3-small  " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG3" alt="~/images/house1.jpg" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
     <li>
 <div class=" w3-round-large w3-small  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG4" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>  
     
       <li >
 <div class=" w3-round-large w3-small   " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG5" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li >
 <div class="  w3-round-large w3-small  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG6" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
       <li>
 <div class=" w3-round-large w3-small " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG7" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li>
 <div class=" w3-white w3-round-large w3-small  " style="width:100%; height:140px ">
    <img class="view w3-round-large"src="~/@row.IMG8" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  >
 <div class=" w3-round-large w3-small " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG9" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li >
            <div class="  w3-round-large w3-small   " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG10"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
       <li  class=" w3-light-gray">
 <div class=" w3-round-large w3-small  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG11"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
        <li  class=" w3-light-gray">
 <div class=" w3-round-large w3-small  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG12"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
     </ul>
</div>

 
</div>
  <div class="w3-half">
    
      <div class="w3-white w3-text-grey ">
       
        <div class="w3-grey" style=" width: 100%; height:200px;">
          <img  src="~/@row.MIMG" style="width:100%; height: 200px"  alt="Avatar" onclick="document.getElementById('modal01').style.display='block'"><br/>
             </div>
          <div class="w3-container  w3-margin-top">
      <div class="w3-col s8">
        <p  class=" w3-left w3-text-blue "><strong>@row.NAME</strong></p>
       </div>
      <div class="w3-col s4">
      <span class="w3-large"><b>
      <p id="countlike" class="w3-center w3-right  w3-text-blue w3-margin-left"><b>@row.LIKES</b></p>
          <p class="w3-center w3-right w3-large"><i id="like" class="fa fa-thumbs-up w3-large w3-text-teal w3-hover-text-red"></i> <i id="dislike" class="fa fa-thumbs-down w3-large w3-text-red w3-hover-text-teal" style=" display:none" ></i></p>
      <input id="Pid" type="hidden" value="@row.ID" ></b>
           </span>
       </div>
     <p  class="w3-left w3-small w3-text-black" style="margin-top:-5px;">@row.LOCATION </p><br/>
     
      
       <h3  class="w3-row w3-text-red"><strong>Rs :</strong> @row.PRICE   </h3>
      
    <p  class="w3-small w3-text-blue" >@row.DESCRIPTION</p> 
     <table class="w3-table w3-bottombar   w3-small">
    <tr>
    <h3 class="w3-text-blue w3-margin-left w3-medium"><b>Property Details</b> </h3>
    </tr>
    
    
      <tr>
      <td><b>area</b></td>
      <td >@row.AREA</td>
       <td><b>bedrooms</b></td>
        <td >@row.BEDROOMS</td>
    </tr>
    <tr>
      <td><b>bathrooms</b></td>
      <td >@row.BATHROOMS</td>
      <td ><b>kitchen</b></td>
       <td >@row.KITCHENS</td>
    </tr>
    <tr>
      <td ><b>storerooms</b></td>
      <td >@row.STOREROOMS</td>
      <td><b>carparking</b></td>
       <td >@row.CARPARKING</td>
       
    </tr>
    
    <tr>
     <td><b>Khaali.pk.id</b></td>
      <td>@row.KHAALI_ID</td>
     <td><b>Construction</b></td>
      <td>@row.YEAR</td>
    </tr>
  </table>
  <div class="w3-responsive">
  <div class="w3-row w3-small">
      <div class="w3-half w3-center " style="width:40%; padding-left:0%;">
      <h4 class="w3-text-blue w3-padding  w3-left w3-medium"><strong>ContentInfo</strong></h4>   <br/>  
       <p ><button class="w3-btn w3-center w3-small w3-block w3-blue "style="height:30px; margin-top:4px;" >Owner Name</button> </p>
     <p ><button class="w3-btn w3-small w3-block w3-orange " style="height:30px; margin-top:4px;">ContactNo</button> </p>
        <p ><button class="w3-btn w3-small w3-block w3-green" style="height:30px; margin-top:4px;">Send Email</button> </p>
       </div>
      <div class="w3-half w3-left w3-small w3-block " style="width:58%; margin-right:-12px">
       <h4 class="w3-text-white w3-padding  w3-medium"><strong>Details</strong></h4>
        <p class="w3-padding" style="margin-top:0px;"><b>@row.NAME</b> </p>
        <p class ="w3-padding" style="margin-top:0px;"><b>@row.CONTACT</b></p>
        <p class="w3-padding" style="margin-top:0px;"><b>@row.EMAIL</b></p>
      </div>
    </div>  
	</div>
  
    
    
    
    
        </div>
       
  </div>
  
  
</div>
    <br/>
    <br/>
   
</div>
 
    <div class="w3-container w3-row w3-white">
        <form action="~/DeletePost.cshtml" method="POST">
        <input name="delPost" type="hidden" value="@row.ID">
        <button type="submit" class="w3-btn w3-right w3-red">Delete Post</button>
            </form>
        </div>
</div>
       }
          }
else
{
   <div class="w3-third w3-card-4 w3-white  w3-display-middle w3-center w3-animate-top " style="margin-top:200px" >
    <header class="w3-container w3-blue">
      <h3>Khaali.com</h3>
    </header>
        <div class="w3-container w3-center">
  <p class="w3-large w3-text-blue " >
     No property Available
  </p>
  </div>
   <div class="w3-container w3-center w3-margin-bottom">
  
</div>
   
  </div>
}
          </div>

        <div id="rent" class=" city w3-card-4  w-border w3-border-blue" style="display: none; margin-left: 8%; margin-right: 100px; margin-top:10px">
      <div class="w3-container w3-center w3-blue-gray">
          <h3 class="w3-text-white"><strong>Only Rent Properties</strong></h3>
          </div>
            
              @if(dataRent.Any())
{
           foreach(var row in dataRent)

          {


              <div class="w3-border w3-card-4" style="float: right; margin-bottom: 15px; padding-bottom: 10px; ">
        



   <div class="w3-bar  w3-teal w3-center w3-small w3-padding">
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Purpose <b><span class="w3-margin-left w3-medium" id="purpose"> @row.PURPOSE </span></b> </a>
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Property Type <b><span class="w3-margin-left w3-medium" id="type">@row.TYPE </span></b> </a>
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Location <b><span class="w3-margin-left w3-medium" id="city">@row.CITY</span></b> </a>
 
</div>
<div class="w3-row  w3-border-blue" style="width:100%;  margin-top:5px; margin-bottom: 0px; max-width: 1400px">
<div class=" w3-half">

 <div id="future"  class="thumbnails w3-small  w3-round  "style="overflow-y: scroll; overflow-x: hidden ; width:100%; height: 730px; max-width: 1400px">
    <ul class="detail" >
    
           <li  >
     <img class="view w3-round-large" src="~/@row.IMG1" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    
     </li>
     <li >
 <div class=" w3-white w3-round-large w3-small w3-white " style="width:100%; height:140px " >
    <img class="view w3-round-large" src="~/@row.IMG2" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
     
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG3" alt="~/images/house1.jpg" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
     <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG4" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>  
     
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG5" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG6" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG7" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow " style="width:100%; height:140px ">
    <img class="view w3-round-large"src="~/@row.IMG8" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG9" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
            <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG10"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
       <li  class="w3-hover-shadow w3-light-gray">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG11"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
        <li  class="w3-hover-shadow w3-light-gray">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG12"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
     </ul>
</div>

 
</div>
  <div class="w3-half">
    
      <div class="w3-white w3-text-grey ">
       
        <div class="w3-grey" style=" width: 100%; height:200px;">
          <img  src="~/@row.MIMG" style="width:100%; height: 200px" alt="Avatar" onclick="document.getElementById('modal01').style.display='block'"><br/>
             </div>
          <div class="w3-container  w3-margin-top">
      <div class="w3-col s8">
        <p  class=" w3-left w3-text-blue "><strong>@row.NAME</strong></p>
       </div>
      <div class="w3-col s4">
      <span class="w3-large"><b>
      <p id="countlike" class="w3-center w3-right  w3-text-blue w3-margin-left"><b>@row.LIKES</b></p>
          <p class="w3-center w3-right w3-large"><i id="like" class="fa fa-thumbs-up w3-large w3-text-teal w3-hover-text-red"></i> <i id="dislike" class="fa fa-thumbs-down w3-large w3-text-red w3-hover-text-teal" style=" display:none" ></i></p>
      <input id="Pid" type="hidden" value="@row.ID"></b>
           </span>
       </div>
     <p  class="w3-left w3-small w3-text-black" style="margin-top:-5px;">@row.LOCATION</p><br/>
     
      
       <h3  class="w3-row w3-text-red"><strong>Rs :</strong> @row.PRICE </h3>
      
    <p  class="w3-small w3-text-blue" >@row.DESCRIPTION</p> 
     <table class="w3-table w3-bottombar   w3-small">
    <tr>
    <h3 class="w3-text-blue w3-margin-left w3-medium"><b>Property Details</b> </h3>
    </tr>
    
    
      <tr>
      <td><b>area</b></td>
      <td >@row.AREA</td>
       <td><b>bedrooms</b></td>
        <td >@row.BEDROOMS</td>
    </tr>
    <tr>
      <td><b>bathrooms</b></td>
      <td >@row.BATHROOMS</td>
      <td ><b>kitchen</b></td>
       <td >@row.KITCHENS</td>
    </tr>
    <tr>
      <td ><b>storerooms</b></td>
      <td >@row.STOREROOMS</td>
      <td><b>carparking</b></td>
       <td >@row.CARPARKING</td>
       
    </tr>
    
    <tr>
     <td><b>Khaali.pk.id</b></td>
      <td>@row.KHAALI_ID</td>
     <td><b>Construction</b></td>
      <td>@row.YEAR</td>
    </tr>
  </table>
  <div class="w3-responsive">
  <div class="w3-row w3-small">
      <div class="w3-half w3-center " style="width:40%; padding-left:0%;">
      <h4 class="w3-text-blue w3-padding  w3-left w3-medium"><strong>ContentInfo</strong></h4>   <br/>  
       <p ><button class="w3-btn w3-center w3-small w3-block w3-blue "style="height:30px; margin-top:4px;" >Owner Name</button> </p>
     <p ><button class="w3-btn w3-small w3-block w3-orange " style="height:30px; margin-top:4px;">ContactNo</button> </p>
        <p ><button class="w3-btn w3-small w3-block w3-green" style="height:30px; margin-top:4px;">Send Email</button> </p>
       </div>
      <div class="w3-half w3-left w3-small w3-block " style="width:58%; margin-right:-12px">
       <h4 class="w3-text-white w3-padding  w3-medium"><strong>Details</strong></h4>
        <p class="w3-padding" style="margin-top:0px;"><b>@row.NAME</b> </p>
        <p class ="w3-padding" style="margin-top:0px;"><b>@row.CONTACT</b></p>
        <p class="w3-padding" style="margin-top:0px;"><b>@row.EMAIL</b></p>
      </div>
    </div>  
	</div>
  
    
    
    
    
        </div>
       
  </div>
  
  
</div>
    <br/>
    <br/>
   
</div>

<div class="w3-container w3-row w3-white">
        <form action="~/DeletePost.cshtml" method="POST">
        <input name="delPost" type="hidden" value="@row.ID">
        <button type="submit" class="w3-btn w3-right w3-red">Delete Post</button>
            </form>
        </div>
</div>
       }
          }
else
{
   <div class="w3-third w3-card-4 w3-white  w3-display-middle w3-center w3-animate-top " style="margin-top:200px" >
    <header class="w3-container w3-blue">
      <h3>Khaali.com</h3>
    </header>
        <div class="w3-container w3-center">
  <p class="w3-large w3-text-blue " >
     No property Available
  </p>
  </div>
   <div class="w3-container w3-center w3-margin-bottom">
  
</div>
   
  </div>
}
          </div>

        <div id="sale" class=" city w3-card-4  w-border w3-border-blue" style="display: none; margin-left: 8%; margin-right: 100px; margin-top:10px">
      <div class="w3-container w3-center w3-blue-gray">
          <h3 class="w3-text-white"><strong>Only Sale Properties</strong></h3>
          </div>
            
              @if(dataSale.Any())
{
           foreach(var row in dataSale)

          {


              <div class="w3-border w3-card-4" style="float: right; margin-bottom: 15px; padding-bottom: 10px; ">
        



   <div class="w3-bar  w3-teal w3-center w3-small w3-padding">
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Purpose <b><span class="w3-margin-left w3-medium" id="purpose"> @row.PURPOSE </span></b> </a>
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Property Type <b><span class="w3-margin-left w3-medium" id="type">@row.TYPE </span></b> </a>
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Location <b><span class="w3-margin-left w3-medium" id="city">@row.CITY</span></b> </a>
 
</div>
<div class="w3-row  w3-border-blue" style="width:100%;  margin-top:5px; margin-bottom: 0px; max-width: 1400px">
<div class=" w3-half" tyle="width:50%;">

 <div id="future"  class="thumbnails w3-small  w3-round  "style="overflow-y: scroll; overflow-x: hidden ; width:100%; height: 730px; max-width: 1400px">
    <ul class="detail" >
    
           <li  class="w3-hover-shadow ">
     <img class="view w3-round-large" src="~/@row.IMG1" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    
     </li>
     <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px " >
    <img class="view w3-round-large" src="~/@row.IMG2" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
     
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG3" alt="~/images/house1.jpg" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
     <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG4" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>  
     
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG5" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG6" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG7" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large"src="~/@row.IMG8" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG9" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
            <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG10"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
       <li  class="w3-hover-shadow w3-light-gray">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG11"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
        <li  class="w3-hover-shadow w3-light-gray">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG12"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
     </ul>
</div>

 
</div>
  <div class="w3-half">
    
      <div class="w3-white w3-text-grey ">
       
        <div class="w3-grey" style=" width: 100%; height:200px;">
          <img  src="~/@row.MIMG" style="width:100%; height: 200px" alt="Avatar"><br/>
             </div>
          <div class="w3-container w3-margin-top">
      <div class="w3-col s8">
        <p  class=" w3-left w3-text-blue "><strong>@row.NAME</strong></p>
       </div>
      <div class="w3-col s4">
      <span class="w3-large"><b>
      <p id="countlike" class="w3-center w3-right  w3-text-blue w3-margin-left"><b>@row.LIKES</b></p>
          <p class="w3-center w3-right w3-large"><i id="like" class="fa fa-thumbs-up w3-large w3-text-teal w3-hover-text-red"></i> <i id="dislike" class="fa fa-thumbs-down w3-large w3-text-red w3-hover-text-teal" style=" display:none" ></i></p>
      <input id="Pid" type="hidden" value="@row.ID" ></b>
           </span>
       </div>
     <p  class="w3-left w3-small w3-text-black" style="margin-top:-5px;">@row.LOCATION</p><br/>
     
      
       <h3  class="w3-row w3-text-red"><strong>Rs :</strong> @row.PRICE </h3>
      
    <p  class="w3-small w3-text-blue" >@row.DESCRIPTION</p> 
     <table class="w3-table w3-bottombar   w3-small">
    <tr>
    <h3 class="w3-text-blue w3-margin-left w3-medium"><b>Property Details</b> </h3>
    </tr>
    
    
      <tr>
      <td><b>area</b></td>
      <td >@row.AREA</td>
       <td><b>bedrooms</b></td>
        <td >@row.BEDROOMS</td>
    </tr>
    <tr>
      <td><b>bathrooms</b></td>
      <td >@row.BATHROOMS</td>
      <td ><b>kitchen</b></td>
       <td >@row.KITCHENS</td>
    </tr>
    <tr>
      <td ><b>storerooms</b></td>
      <td >@row.STOREROOMS</td>
      <td><b>carparking</b></td>
       <td >@row.CARPARKING</td>
       
    </tr>
    
    <tr>
     <td><b>Khaali.pk.id</b></td>
      <td>@row.KHAALI_ID</td>
     <td><b>Construction</b></td>
      <td>@row.YEAR</td>
    </tr>
  </table>
  <div class="w3-responsive">
  <div class="w3-row w3-small">
      <div class="w3-half w3-center " style="width:40%; padding-left:0%;">
      <h4 class="w3-text-blue w3-padding  w3-left w3-medium"><strong>ContentInfo</strong></h4>   <br/>  
       <p ><button class="w3-btn w3-center w3-small w3-block w3-blue "style="height:30px; margin-top:4px;" >Owner Name</button> </p>
     <p ><button class="w3-btn w3-small w3-block w3-orange " style="height:30px; margin-top:4px;">ContactNo</button> </p>
        <p ><button class="w3-btn w3-small w3-block w3-green" style="height:30px; margin-top:4px;">Send Email</button> </p>
       </div>
      <div class="w3-half w3-left w3-small w3-block " style="width:58%; margin-right:-12px">
       <h4 class="w3-text-white w3-padding  w3-medium"><strong>Details</strong></h4>
        <p class="w3-padding" style="margin-top:0px;"><b>@row.NAME</b> </p>
        <p class ="w3-padding" style="margin-top:0px;"><b>@row.CONTACT</b></p>
        <p class="w3-padding" style="margin-top:0px;"><b>@row.EMAIL</b></p>
      </div>
    </div>  
	</div>
  
    
    
    
    
        </div>
       
  </div>
  
  
</div>
    <br/>
    <br/>
   
</div>
                 
<div class="w3-container w3-row w3-white">
        <form action="~/DeletePost.cshtml" method="POST">
        <input name="delPost" type="hidden" value="@row.ID">
        <button type="submit" class="w3-btn w3-right w3-red">Delete Post</button>
            </form>
        </div>
</div>
       }
          }
else
{
   <div class="w3-third w3-card-4 w3-white  w3-display-middle w3-center w3-animate-top " style="margin-top:200px" >
    <header class="w3-container w3-blue">
      <h3>Khaali.com</h3>
    </header>
        <div class="w3-container w3-center">
  <p class="w3-large w3-text-blue " >
     No property Available
  </p>
  </div>
   <div class="w3-container w3-center w3-margin-bottom">
  
</div>
   
  </div>
}
          </div>

        <div id="featured" class=" city w3-card-4  w-border w3-border-blue" style="display: none; margin-left: 8%; margin-right: 100px; margin-top:10px">
      <div class="w3-container w3-center w3-blue-gray">
          <h3 class="w3-text-white"><strong>Only Sale Properties</strong></h3>
          </div>
            
              @if(dataFeatured.Any())
{
           foreach(var row in dataFeatured)

          {


              <div class="w3-border w3-card-4" style="float: right; margin-bottom: 15px; padding-bottom: 10px; ">
        



   <div class="w3-bar  w3-teal w3-center w3-small w3-padding">
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Purpose <b><span class="w3-margin-left w3-medium" id="purpose"> @row.PURPOSE </span></b> </a>
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Property Type <b><span class="w3-margin-left w3-medium" id="type">@row.TYPE </span></b> </a>
  <a  href="#" style="width:33%" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Location <b><span class="w3-margin-left w3-medium" id="city">@row.CITY</span></b> </a>
 
</div>
<div class="w3-row  w3-border-blue" style="width:100%;  margin-top:5px; margin-bottom: 0px; max-width: 1400px">
<div class=" w3-half" tyle="width:50%;">

 <div id="future"  class="thumbnails w3-small  w3-round  "style="overflow-y: scroll; overflow-x: hidden ; width:100%; height: 730px; max-width: 1400px">
    <ul class="detail" >
    
           <li  class="w3-hover-shadow ">
     <img class="view w3-round-large" src="~/@row.IMG1" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    
     </li>
     <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px " >
    <img class="view w3-round-large" src="~/@row.IMG2" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
     
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG3" alt="~/images/house1.jpg" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
     <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG4" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>  
     
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG5" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG6" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG7" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large"src="~/@row.IMG8" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG9" alt="NO IMAGE" style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
       <li  class="w3-hover-shadow ">
            <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view  w3-round-large" src="~/@row.IMG10"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
   </div>
     </li>
       <li  class="w3-hover-shadow w3-light-gray">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG11"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
        <li  class="w3-hover-shadow w3-light-gray">
 <div class=" w3-white w3-round-large w3-small w3-white w3-hover-shadow  " style="width:100%; height:140px ">
    <img class="view w3-round-large" src="~/@row.IMG12"  style="width:100%;height:140px " onclick="document.getElementById('modal01').style.display='block'"><br/>
    </div>
     </li>
     </ul>
</div>

 
</div>
  <div class="w3-half">
    
      <div class="w3-white w3-text-grey ">
       
        <div class="w3-grey" style=" width: 100%; height:200px;">
          <img  src="~/@row.MIMG" style="width:100%; height: 200px" alt="Avatar"><br/>
             </div>
          <div class="w3-container w3-margin-top">
      <div class="w3-col s8">
        <p  class=" w3-left w3-text-blue "><strong>@row.NAME</strong></p>
       </div>
      <div class="w3-col s4">
      <span class="w3-large"><b>
      <p id="countlike" class="w3-center w3-right  w3-text-blue w3-margin-left"><b>@row.LIKES</b></p>
          <p class="w3-center w3-right w3-large"><i id="like" class="fa fa-thumbs-up w3-large w3-text-teal w3-hover-text-red"></i> <i id="dislike" class="fa fa-thumbs-down w3-large w3-text-red w3-hover-text-teal" style=" display:none" ></i></p>
      <input id="Pid" type="hidden" value="@row.ID" ></b>
           </span>
       </div>
     <p  class="w3-left w3-small w3-text-black" style="margin-top:-5px;">@row.LOCATION</p><br/>
     
      
       <h3  class="w3-row w3-text-red"><strong>Rs :</strong> @row.PRICE </h3>
      
    <p  class="w3-small w3-text-blue" >@row.DESCRIPTION</p> 
     <table class="w3-table w3-bottombar   w3-small">
    <tr>
    <h3 class="w3-text-blue w3-margin-left w3-medium"><b>Property Details</b> </h3>
    </tr>
    
    
      <tr>
      <td><b>area</b></td>
      <td >@row.AREA</td>
       <td><b>bedrooms</b></td>
        <td >@row.BEDROOMS</td>
    </tr>
    <tr>
      <td><b>bathrooms</b></td>
      <td >@row.BATHROOMS</td>
      <td ><b>kitchen</b></td>
       <td >@row.KITCHENS</td>
    </tr>
    <tr>
      <td ><b>storerooms</b></td>
      <td >@row.STOREROOMS</td>
      <td><b>carparking</b></td>
       <td >@row.CARPARKING</td>
       
    </tr>
    
    <tr>
     <td><b>Khaali.pk.id</b></td>
      <td>@row.KHAALI_ID</td>
     <td><b>Construction</b></td>
      <td>@row.YEAR</td>
    </tr>
  </table>
  <div class="w3-responsive">
  <div class="w3-row w3-small">
      <div class="w3-half w3-center " style="width:40%; padding-left:0%;">
      <h4 class="w3-text-blue w3-padding  w3-left w3-medium"><strong>ContentInfo</strong></h4>   <br/>  
       <p ><button class="w3-btn w3-center w3-small w3-block w3-blue "style="height:30px; margin-top:4px;" >Owner Name</button> </p>
     <p ><button class="w3-btn w3-small w3-block w3-orange " style="height:30px; margin-top:4px;">ContactNo</button> </p>
        <p ><button class="w3-btn w3-small w3-block w3-green" style="height:30px; margin-top:4px;">Send Email</button> </p>
       </div>
      <div class="w3-half w3-left w3-small w3-block " style="width:58%; margin-right:-12px">
       <h4 class="w3-text-white w3-padding  w3-medium"><strong>Details</strong></h4>
        <p class="w3-padding" style="margin-top:0px;"><b>@row.NAME</b> </p>
        <p class ="w3-padding" style="margin-top:0px;"><b>@row.CONTACT</b></p>
        <p class="w3-padding" style="margin-top:0px;"><b>@row.EMAIL</b></p>
      </div>
    </div>  
	</div>
  
    
    
    
    
        </div>
       
  </div>
  
  
</div>
    <br/>
    <br/>
   
</div>
                
<div class="w3-container w3-row w3-white">
        <form action="~/DeletePost.cshtml" method="POST">
        <input name="delPost" type="hidden" value="@row.ID">
        <button type="submit" class="w3-btn w3-right w3-red">Delete Post</button>
            </form>
        </div>
</div>
       }
          }
else
{
   <div class="w3-third w3-card-4 w3-white  w3-display-middle w3-center w3-animate-top " style="margin-top:200px" >
    <header class="w3-container w3-blue">
      <h3>Khaali.com</h3>
    </header>
        <div class="w3-container w3-center">
  <p class="w3-large w3-text-blue " >
     No property Available
  </p>
  </div>
   <div class="w3-container w3-center w3-margin-bottom">
  
</div>
   
  </div>
}
          </div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img id="m0" class="largeImage" src="" style="width:100%" alt="no image">
    </div>
  </div>
          </div>
      </div>







        <script>
                
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-blue", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-blue";
}


$('.thumbnails img').click(function(){
    $('.largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
    $('#description').html($(this).attr('alt'));
});


</script>
    
    </body>
</html>
